*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

body{
  background-color: #f8f7f4;
}

.des-scroll{
  width: 100%;
  display: grid;
  place-items: center;
}

.carousel{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
  overflow: hidden;
}

.contentcards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}